html
    head
    link(rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css")
    link(rel="stylesheet" type="text/css" href="content/css/style.css")
    script(src="jquery/dist/jquery.min.js")
    script(src="semantic/dist/semantic.min.js")
    script(src="https://unpkg.com/vue/dist/vue.js")

    body
        .ui.middle.aligned.center.aligned.grid
            .column
                h2.ui.teal.image.header
                    .content
                        | Tickets
                        #app
                        
    script(src="app.js")