<!DOCTYPE html>
<html ng-app="konimbo_freshdesk_app">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css" media="screen" title="no title">
        <link rel="stylesheet" href="content/css/style.css" media="screen" title="no title">
        <script src="jquery/dist/jquery.min.js"></script>
        <script src="bootstrap/dist/js/bootstrap.min.js" charset="utf-8"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
        <title>Konimbo | Support Dashboard</title>
    </head>
    <body>
        <loading ng-show="loadingOverlay"></loading>
        <header class="header">
            <h4>Konimbo Support Tickets Dashboard</h4>
        </header>
        <div class="container">
            <div id="#tickets" class="row" ng-controller="TicketsController as tickets">
                <upcoming class="col-xs-12 col-sm-6">
                    <div class="well">
                        <h3>Tickets</h3>
                        <span>Upcoming Tickets:
                            {{ ticketsList.length }}</span>
                    </div>
                    <div class="ticket--wrapper panel col-xs-12 col-sm-6" ng-repeat="ticket in ticketsList">
                        <div class="card card-1">
                            <div class="panel-heading">
                                <span class="panel-title">{{ ticket.subject | limitTo:titleLimit }}</span>
                                <span class="badge">{{ ticket.status_name }}</span>
                            </div>
                            <div class="panel-body">
                                <span class="timestamp">{{ ticket.created_at }}</span>
                                <p>{{ ticket.description | limitTo:letterLimit }}</p>
                            </div>
                        </div>
                    </div>
                </upcoming>
                <tasks class="col-xs-12 col-sm-6">
                    <div class="well">
                        <h3>Tasks</h3>
                        <span>Tickets:
                            {{ tasksList.length }}</span>
                    </div>
                    <div class="ticket--wrapper panel card col-xs-12 col-sm-6" ng-repeat="ticket in tasksList">
                        <div class="card card-1">
                            <div class="panel-heading">
                                <span class="panel-title">{{ ticket.subject }}</span>
                                <span class="badge">{{ ticket.status_name }}</span>
                            </div>
                            <div class="panel-body">
                                <span class="timestamp">{{ ticket.created_at }}</span>
                                <p>{{ ticket.description | limitTo:letterLimit }}</p>
                            </div>
                        </div>
                    </div>
                </tasks>
            </div>
        </div>
        <script type="text/javascript" src="app.js"></script>
    </body>
</html>